.bracket-title {
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: var(--background-1);
    border-bottom: 4px solid var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
}

#bracket-title-text {
    color: white;
    font-size: 42px;
    font-weight: 600;
}

#bracket-container {
    line-height: 1.5em;
    position: absolute;
    top: 110px;
    left: 100px;
    font-weight: 500;
}

#bracket-container > div {
    width: 1720px;
    height: 920px;
    overflow: visible;
}

.swiss-renderer {
    justify-items: center;
}
.swiss-renderer .match-cell-wrapper {
    width: 250px;
    margin: 6px;
    display: flex;
    justify-content: center;
    position: relative;
}
.swiss-renderer .match-cell {
    background-color: var(--background-1);
    z-index: 2;
    height: 100%;
    min-width: 250px;
}
.swiss-renderer .match-cell-wrapper.in-progress .match-cell-accent {
    filter: drop-shadow(0 0 5px var(--accent));
}
.swiss-renderer .match-cell-accent {
    height: 100%;
    width: 100%;
    background-color: var(--accent);
    filter: drop-shadow(0 0 1px var(--accent));
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    transition: filter 350ms;
}
.match-cell-overflow-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.swiss-renderer .match-cell-wrapper .match-cell__score-wrapper {
    font-weight: 700;
    background-color: var(--background-2);
    height: 100%;
    padding-top: 9px;
}
.swiss-renderer .match-cell__team-name {
    transition: opacity 350ms;
}
.swiss-renderer .match-cell-wrapper.top-team-winner .match-cell__top-team-name {
    font-weight: 700;
}
.swiss-renderer .match-cell-wrapper.top-team-winner .match-cell__bottom-team-name {
    opacity: 0.75;
}
.swiss-renderer .match-cell-wrapper.bottom-team-winner .match-cell__bottom-team-name {
    font-weight: 700;
}
.swiss-renderer .match-cell-wrapper.bottom-team-winner .match-cell__top-team-name {
    opacity: 0.75;
}
